html,
body {
  max-width: 100vw;
  font-style: Garamond;
}

body {
  background-color: floralwhite;
  color: black;
}

main {
  display: flex;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;
  background-color: rgba(112,128,144, .8);
  border-radius: 5px;
}

.login-title {
  align-items: center;
}
.login-username {
  width: 100px;
  margin-bottom: 10px;
}
.login-password {
  width: 100px;
  margin-bottom: 10px;
}

.login-extras {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
