html,
body {
  max-width: 100vw;
  font-style: Garamond;
  background-color: floralwhite;
  color: black;
}

body {
  overflow: hidden;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  color: white;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(112, 128, 144, 0.5);
  width: 350px;
  padding: 2.5rem 1rem;
  border-radius: 1rem;
  z-index: 2;
}

.login-title {
  align-items: center;
}

.login-input {
  padding: 1rem 1rem;
  background-color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: black;
  width: 220px;
  font-weight: 500;
  border-radius: 4rem;
  display: block;
  margin-bottom: 1rem;
}

.login-extras {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.login-btn {
  background-color: #004cd9ff;
  padding: 0.5rem 0.5rem;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  width: 5rem;
  font-weight: 500;
  border-radius: 4rem;
  display: block;
  margin-bottom: 1rem;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #0191f8;
  color: #ffffff;
  text-decoration: none;
  cursor: grab;
}

.img {
  z-index: 1;
  position: relative;
  transform: scale(1.2);
}
.back-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
